body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: brown;
}
h2{
    color: #050e6a;
}

button {
    margin-left: 20px;
background-color: antiquewhite;
    color: chartreuse
}
button:hover{
    color: blue;
}